openapi: 3.0.1
info:
  title: TheBasics
  version: '1.0'
servers:
  - url: http://tempuri.org
paths:
  /users:
    post:
      tags:
        - Users
      operationId: CreateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: integer
                format: int32
      x-operationId: CreateUser
    get:
      tags:
        - Users
      operationId: GetUsers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
      x-operationId: GetUsers
  /users/search:
    get:
      tags:
        - Users
      operationId: SearchUsers
      parameters:
        - name: keywords
          in: query
          schema:
            type: string
            nullable: true
        - name: PageNo
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: host
          in: header
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
      x-operationId: SearchUsers
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          format: int32
          readOnly: true
        username:
          type: string
          nullable: true
      additionalProperties: false